<html xmlns:th="http://www.thymeleaf.org">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Registration service!</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">-->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" th:href="@{/css/normalize.css}" />
  <link rel="stylesheet" th:href="@{/css/skeleton.css}" />
  <link rel="stylesheet" th:href="@{/css/main.css}" />
    <script type="text/javascript" th:src="@{/js/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/action.js}" ></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="one.column, u-pull-right" style="margin-top: 1%">
      <a id="formRequest" class="button" href="#" th:href="@{registration/form}" th:text="#{view.signUp}">Sign In</a>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
